# Build directories
build/
diff_sim_core/build/
*.egg-info/
__pycache__/
legacy/
diff_sim_core/extern/
# Compiled binaries
*.pyd
*.so
*.dll
*.exe


# External deps (if not submodules)
diff_sim_core/extern/SDL2/
diff_sim_core/extern/lib/

#docs/

# IDEs
.vscode/

# Temp
tmp/
*.log